# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented grads
lib-cov
coverage

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables files
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# lerna script-generated log files
lerna-debug.log*

# macOS system files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
